/* @import 'normalize.css'; */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-sans: "Inter", sans-serif;

  --color-brand: #f97316; /* 橙色主题 - 橙色500 */
  --color-black: #282828;
  --color-white: #fefefe;

  --text-tiny: 0.625rem;
  --color-mint-500: oklch(0.7 0.28 145);
  --radius-lg: 12px;
}

@layer 
  design-tokens,   /* 颜色、间距等变量 */
  reset,           /* 浏览器重置 */
  typography,      /* 文字样式 */
  layout,          /* 布局组件 */
  antd,
  components,      /* 业务组件 */
  utilities;       /* 工具类 */

:root {
  --primary: #f97316; /* 橙色主题 - 橙色500 */
  --backgroud: #fef7ee; /* 橙色主题的浅色背景 */


  font-size: 14px;
  font-weight: 400;
  color: #36383B;
  line-height: 20px;
}
html, body, #root {
  height: 100%;
}